@font-face {
  font-family: 'Libre Franklin';
  src: url('../fonts/LibreFranklin-Regular.woff2') format('woff2'),
    url('../fonts/LibreFranklin-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
